# Исключаем виртуальное окружение
.venv

# Игнорируем стандартные временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы логов и кеши
*.log
*.cache

# Игнорируем файлы IDE
.vscode/
.idea/
*.iml
